<config nextUserId="2" nextApplicationId="2" nextHostId="2">
    <hosts id="1">
        <host sshPort="22" name="testhost" hostname="localhost" id="1"/>
    </hosts>

    <users id="1">
        <user comment="Test User" password="test" username="test" id="1"/>
    </users>

    <applications id="1">
        <application name="test-application" id="1" hostId="1" userId="1"/>
    </applications>
</config>