<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <bean id="simplePersister" class="com.googlecode.charpa.service.dao.impl.simple.SimplePersister">
        <constructor-arg value="base/config.xml" />
    </bean>

    <bean id="hostDao" class="com.googlecode.charpa.service.dao.impl.simple.HostSimpleDao">
        <property name="persister" ref="simplePersister" />
    </bean>

    <bean id="applicationDao" class="com.googlecode.charpa.service.dao.impl.simple.ApplicationSimpleDao" parent="hostDao" />

    <bean id="userDao" class="com.googlecode.charpa.service.dao.impl.simple.UserSimpleDao" parent="hostDao" />

    <bean id="commandInfoService" class="com.googlecode.charpa.service.impl.CommandInfoServiceImpl">
        <property name="applicationDao"  ref="applicationDao"   />
        <property name="hostDao"         ref="hostDao"          />
        <property name="commandsDirName" value="base"           />
    </bean>

    <bean id="hostService" class="com.googlecode.charpa.service.impl.HostServiceImpl">
        <property name="hostDao" ref="hostDao" />
    </bean>

    <bean id="progressService" class="com.googlecode.charpa.progress.service.impl.ProgressServiceImpl" />

    <bean id="securityShellService" class="com.googlecode.charpa.service.impl.SecurityShellServiceImpl" />

    <bean id="commandService" class="com.googlecode.charpa.service.impl.CommandServiceImpl">
        <property name="applicationDao" ref="applicationDao" />
        <property name="hostService" ref="hostService" />
        <property name="commandInfoService" ref="commandInfoService" />
        <property name="progressManagerService" ref="progressService" />
        <property name="userDao" ref="userDao" />
        <property name="securityShellService" ref="securityShellService" />
    </bean>

</beans>
